In [1]:
import pandas as pd
import numpy as np
import geopandas
import os

# What this Code does:
- Merge GTFS data together
- Handle Transfer Subway data
- Reformat Arrival and Departure times for ArcPro


__Exports__: 
1) Schedule DataFrame
2) Exports Transfer DataFrame

## Set Directory

In [2]:
os.getcwd()

'/Users/ofirklein/Desktop/NYC_Subway_DijkstraGTFS/data/dijkstra_data'

In [3]:
data_path = os.path.join(os.getcwd(),'nyc_subway')

In [4]:
os.chdir(data_path)

## Handle Stop Times first

In [5]:
#take txt file and make it into Pandas DF
stoptimes = pd.read_csv('stop_times.txt', sep=",")

In [6]:
columns = list(stoptimes.columns)

In [7]:
st_df = stoptimes[columns[:4]].copy()

In [8]:
st_weekday = st_df[st_df['trip_id'].str.contains("Weekday")].reset_index()

In [9]:
st_weekday = st_weekday.drop(columns='index')

## Handel Stops

In [10]:
stops = pd.read_csv('stops.txt', sep=",")

In [11]:
stops_column = ['stop_id','stop_name', 'stop_lat', 'stop_lon','parent_station']

In [12]:
stops_df = stops[stops_column].copy()

## Handling Trips

In [13]:
trips = pd.read_csv('trips.txt', sep=",")

In [14]:
trips_df = trips[trips['service_id'].str.contains("Weekday") & trips['route_id'].str.contains("7")].reset_index().drop(columns='index')

## Merge Trips with Stop_Times

In [15]:
Trip_StopTime_Merge = pd.merge(trips_df,
                              st_weekday,
                            left_on='trip_id',
                            right_on='trip_id',
                              )

## Merge Stops to MergeDF

In [16]:
Trip_ST_Stops = pd.merge(Trip_StopTime_Merge,
                              stops_df,
                            left_on='stop_id',
                            right_on='stop_id',
                              )

## Transfers From Points

In [17]:
transfers = stoptimes = pd.read_csv('transfers.txt', sep=",")

In [18]:
from_transfer_points = pd.merge(transfers,
                        stops,
                            left_on='from_stop_id',
                            right_on='stop_id',
                              )

In [19]:
transfer_columns_needed =['from_stop_id','to_stop_id','transfer_type','min_transfer_time','stop_lat','stop_lon']

In [20]:
From_Transfer_Points = from_transfer_points[transfer_columns_needed].rename(columns={'stop_lat':'from_x','stop_lon':'from_y'}).copy()

In [21]:
From_Transfer_Points

,from_stop_id,to_stop_id,transfer_type,min_transfer_time,from_x,from_y
0,101,101,2,180,40.889248,-73.898583
1,103,103,2,180,40.884667,-73.900870
2,104,104,2,180,40.878856,-73.904834
3,106,106,2,180,40.874561,-73.909831
4,107,107,2,180,40.869444,-73.915279
...,...,...,...,...,...,...
611,S01,A45,2,180,40.680596,-73.955827
612,S01,S01,2,180,40.680596,-73.955827
613,S03,S03,2,180,40.674772,-73.957624
614,S04,239,2,180,40.670343,-73.959245
615,S04,S04,2,180,40.670343,-73.959245

## Transfers To Points

In [22]:
to_transfer_points = pd.merge(transfers,
                        stops,
                            left_on='to_stop_id',
                            right_on='stop_id',
                              )

In [23]:
To_Transfer_Points = to_transfer_points[transfer_columns_needed].rename(columns={'stop_lat':'to_x','stop_lon':'to_y'}).copy()

## Transfer To and From DF

In [24]:
Transfer_df = pd.merge(From_Transfer_Points,
                       To_Transfer_Points,
                       how = 'outer',
                       left_on='to_stop_id',
                       right_on='to_stop_id',)

In [25]:
Transfer_Columns_needed = ['from_stop_id_x','to_stop_id','transfer_type_x','min_transfer_time_x','from_x','from_y', 'to_x','to_y']

In [26]:
transfer_df = Transfer_df[Transfer_Columns_needed].copy().rename(columns={'min_transfer_time_x':'min_transfer_time'})

In [27]:
def seconds_to_min(x):
    return int(x)//60

In [28]:
transfer_df['min_transfer_time'] = transfer_df['min_transfer_time'].apply(seconds_to_min)

In [29]:
transfer_df

,from_stop_id_x,to_stop_id,transfer_type_x,min_transfer_time,from_x,from_y,to_x,to_y
0,101,101,2,3,40.889248,-73.898583,40.889248,-73.898583
1,103,103,2,3,40.884667,-73.900870,40.884667,-73.900870
2,104,104,2,3,40.878856,-73.904834,40.878856,-73.904834
3,106,106,2,3,40.874561,-73.909831,40.874561,-73.909831
4,107,107,2,3,40.869444,-73.915279,40.869444,-73.915279
...,...,...,...,...,...,...,...,...
1089,R42,R42,2,3,40.634967,-74.023377,40.634967,-74.023377
1090,R43,R43,2,3,40.629742,-74.025510,40.629742,-74.025510
1091,R44,R44,2,3,40.622687,-74.028398,40.622687,-74.028398
1092,R45,R45,2,3,40.616622,-74.030876,40.616622,-74.030876
1093,S03,S03,2,3,40.674772,-73.957624,40.674772,-73.957624

____

## (Re)format DateTime format for Network Analyst

In [30]:
arrival = Trip_ST_Stops['arrival_time']
depart = Trip_ST_Stops['departure_time']

In [31]:
# convertor to be used to map through Hours
# AM and PM prepended, so that a split can latter make it its own column
# If errors pop up, just delete 25-28 both in the dictionary and df.
convertor = {'00':'AM_12',
             '01':'AM_01',
             '02':'AM_02',
             '03':'AM_03',
             '04':'AM_04',
             '05':'AM_05',
             '06':'AM_06',
             '07':'AM_07',
             '08':'AM_08',
             '09':'AM_09',
             '10':'AM_10',
             '11':'AM_11',
             '12':'PM_12',
             '13':'PM_01',
             '14':'PM_02',
             '15':'PM_03',
             '16':'PM_04',
             '17':'PM_05',
             '18':'PM_06',
             '19':'PM_07',
             '20':'PM_08',
             '21':'PM_09',
             '22':'PM_10',
             '23':'PM_11',
             '24':'PM_12',
             '25':'AM_01',
             '26':'AM_02',
             '27':'AM_03',
             '28':'AM_04'}

### Handling Arrival Times

In [32]:
#splits strings into 3 columns
arrival_p = arrival.str.split(':',expand=True).rename(columns={0:'Hour',1:'Minute',2:'Seconds'})

#maps through hours with dictionary
arrival_p['Hour'] = arrival_p['Hour'].map(convertor)

#join back all columns
arrival_p['arrival_time'] = arrival_p['Hour'].astype(str) + ":" + arrival_p['Minute'].astype(str) + ':' + arrival_p['Seconds'].astype(str)

#split string at underscore
#rename columns
Arrival_Times = arrival_p['arrival_time'].str.split("_",expand=True).rename(columns={0:'AM_PM',
                                                                     1:'Arrival_Times'})

#join both columns back together
Arrival_Times['TimeWindowStart'] = Arrival_Times['Arrival_Times'].astype(str) + " " + Arrival_Times['AM_PM']

### Handling Arrival Times

In [33]:
#splits strings into 3 columns
depart_p = depart.str.split(':',expand=True).rename(columns={0:'Hour',1:'Minute',2:'Seconds'})


#maps through hours with dictionary
depart_p['Hour'] = depart_p['Hour'].map(convertor)

#join back all columns
depart_p['Depart_Times'] = depart_p['Hour'].astype(str) + ":" + depart_p['Minute'].astype(str) + ':' + depart_p['Seconds'].astype(str)

#split string at underscore
#rename columns
Depart_Times = depart_p['Depart_Times'].str.split("_",expand=True).rename(columns={0:'AM_PM',
                                                                     1:'Depart_Times'})

#join both columns back together
Depart_Times['TimeWindowEnd'] = Depart_Times['Depart_Times'].astype(str) + " " + Depart_Times['AM_PM']

## Join back TimeWindows back to original DF

In [34]:
Trip_ST_Stops['TimeWindowStart'] = Arrival_Times['TimeWindowStart']
Trip_ST_Stops['TimeWindowEnd'] = Depart_Times['TimeWindowEnd']

In [35]:
Trip_ST_Stops

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,arrival_time,departure_time,stop_id,stop_name,stop_lat,stop_lon,parent_station,TimeWindowStart,TimeWindowEnd
0,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_001150_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,00:11:30,00:11:30,701S,Flushing - Main St,40.7596,-73.83003,701,12:11:30 AM,12:11:30 AM
1,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_002550_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,00:25:30,00:25:30,701S,Flushing - Main St,40.7596,-73.83003,701,12:25:30 AM,12:25:30 AM
2,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_004000_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,00:40:00,00:40:00,701S,Flushing - Main St,40.7596,-73.83003,701,12:40:00 AM,12:40:00 AM
3,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_006000_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,01:00:00,01:00:00,701S,Flushing - Main St,40.7596,-73.83003,701,01:00:00 AM,01:00:00 AM
4,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_008000_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,01:20:00,01:20:00,701S,Flushing - Main St,40.7596,-73.83003,701,01:20:00 AM,01:20:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13225,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_127100_7..N95R,Flushing - Main St,0,NaN,7..N95R,21:42:30,21:42:30,701N,Flushing - Main St,40.7596,-73.83003,701,09:42:30 PM,09:42:30 PM
13226,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_127800_7..N95R,Flushing - Main St,0,NaN,7..N95R,21:49:30,21:49:30,701N,Flushing - Main St,40.7596,-73.83003,701,09:49:30 PM,09:49:30 PM
13227,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_128500_7..N95R,Flushing - Main St,0,NaN,7..N95R,21:56:30,21:56:30,701N,Flushing - Main St,40.7596,-73.83003,701,09:56:30 PM,09:56:30 PM
13228,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_129250_7..N95R,Flushing - Main St,0,NaN,7..N95R,22:04:00,22:04:00,701N,Flushing - Main St,40.7596,-73.83003,701,10:04:00 PM,10:04:00 PM
13229,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_130050_7..N95R,Flushing - Main St,0,NaN,7..N95R,22:12:00,22:12:00,701N,Flushing - Main St,40.7596,-73.83003,701,10:12:00 PM,10:12:00 PM

In [36]:
shapes = pd.read_csv('/Users/ofirklein/Desktop/NYC_Subway_DijkstraGTFS/data/dijkstra_data/nyc_subway/shapes.txt', sep=",")

In [37]:
Trip_final_df = pd.merge(Trip_ST_Stops,
                       shapes,
                       how = 'inner',
                       left_on='shape_id',
                       right_on='shape_id',)

In [38]:
Trip_final_df = Trip_final_df.drop(columns=['shape_dist_traveled','shape_pt_lon','shape_pt_lat'])

In [39]:
Trip_final_df = Trip_final_df.rename(columns={'shape_pt_sequence':'sequence'})

In [40]:
Trip_final_df

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,arrival_time,departure_time,stop_id,stop_name,stop_lat,stop_lon,parent_station,TimeWindowStart,TimeWindowEnd,sequence
0,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_001150_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,00:11:30,00:11:30,701S,Flushing - Main St,40.7596,-73.83003,701,12:11:30 AM,12:11:30 AM,0
1,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_001150_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,00:11:30,00:11:30,701S,Flushing - Main St,40.7596,-73.83003,701,12:11:30 AM,12:11:30 AM,1
2,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_001150_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,00:11:30,00:11:30,701S,Flushing - Main St,40.7596,-73.83003,701,12:11:30 AM,12:11:30 AM,2
3,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_001150_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,00:11:30,00:11:30,701S,Flushing - Main St,40.7596,-73.83003,701,12:11:30 AM,12:11:30 AM,3
4,7,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_001150_7..S97R,34 St - Hudson Yds,1,NaN,7..S97R,00:11:30,00:11:30,701S,Flushing - Main St,40.7596,-73.83003,701,12:11:30 AM,12:11:30 AM,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4949125,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_130050_7..N95R,Flushing - Main St,0,NaN,7..N95R,22:12:00,22:12:00,701N,Flushing - Main St,40.7596,-73.83003,701,10:12:00 PM,10:12:00 PM,375
4949126,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_130050_7..N95R,Flushing - Main St,0,NaN,7..N95R,22:12:00,22:12:00,701N,Flushing - Main St,40.7596,-73.83003,701,10:12:00 PM,10:12:00 PM,376
4949127,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_130050_7..N95R,Flushing - Main St,0,NaN,7..N95R,22:12:00,22:12:00,701N,Flushing - Main St,40.7596,-73.83003,701,10:12:00 PM,10:12:00 PM,377
4949128,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_130050_7..N95R,Flushing - Main St,0,NaN,7..N95R,22:12:00,22:12:00,701N,Flushing - Main St,40.7596,-73.83003,701,10:12:00 PM,10:12:00 PM,378
4949129,7X,AFA19GEN-7060-Weekday-00,AFA19GEN-7060-Weekday-00_130050_7..N95R,Flushing - Main St,0,NaN,7..N95R,22:12:00,22:12:00,701N,Flushing - Main St,40.7596,-73.83003,701,10:12:00 PM,10:12:00 PM,379

## Export Data

In [50]:
#os.getcwd()[:-10]
output_url = os.path.join(os.getcwd()[:-10], 'data_output','Dijkstra_input')
os.chdir(output_url)

In [53]:
transfer_df.to_csv('SubwayTransfer_points.csv')

In [54]:
Trip_final_df.to_csv('ScheduleTime_Subway.csv')